includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    autoload_directories:
        - %rootDir%/../../../tests
    autoload_files:
        - %rootDir%/../../bin/.phpunit/phpunit-7.5/vendor/autoload.php
    doctrine:
        objectManagerLoader: %rootDir%/../../../tests/object-manager.php
    ignoreErrors:
        - message: '#^Service "[^"]+" is private.$#'
          path: %rootDir%/../../../tests/
    level: max
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml
        console_application_loader: %rootDir%/../../../tests/console-application.php
    paths:
        - %rootDir%/../../../src
        - %rootDir%/../../../tests
