{% extends 'anonymous.html.twig' %}

{% block content %}
    <div class="text-center">
        <div class="jumbotron text-center">
            <register-client></register-client>
        </div>
    </div>
{% endblock %}